@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body{
  font-family: 'Abril Fatface', serif;
}

span{
  font-family: 'Abril Fatface', serif;
}

h1{
  font-family: 'Abril Fatface', serif;
}
h2{
  font-family: 'Abril Fatface', serif;
}

h4{
  font-family: 'Abril Fatface', serif;
}

p{
  font-family: 'Abril Fatface', serif;
}

#sub-head{
  font-family: 'Abril Fatface', serif;
}